@import '../../index.scss';

// .search-btn {
//   @include btn;
//   width: 7rem;
//   height: 3rem;
//   // align-self: flex-end;
//   margin: 1rem;
// }

#home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  padding: 1rem;
}

.welcome-message{
  font-size: 2rem;
  margin: 1rem;
  margin-top: 15rem;
  text-align: center;
}

.search-bar {
  position: relative;
  display: inline-block;
  // height: 2rem;
}

.search-input {
  padding-right: 40px; 
  // height: 100%;
}

.search-btn {
  // height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  // padding: 8px 10px; /* Adjust the padding as needed */
}





