@import '../../index.scss';

.stats-wrapper {
  padding: 1rem;
  height: 100%;
  width: 70%;
  padding: 1rem;
  overflow-y: scroll;
}

.back-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  
  button {
    height: 2rem;
    width: 4rem;
    font-size: 1rem;
    @include btn;
  }
}

.graph-wrapper {
  @include center;
  flex-direction: column;
  overflow-y: scroll;
}
