@import '../../index.scss';

.adventure-card-container {
  background-color: $tan;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content max-content auto;
  gap: 1rem;
  padding: 1rem;
  max-height: 85%;
  overflow-y: scroll;
  width: 90%;
}

.adventure-card-container::-webkit-scrollbar {
  display: none;
}

