@import '../../index.scss';

.adventure-img {
  width: 15rem;
  object-fit: cover;
  border: 1px solid $brown;
  border-radius: 10px;
}

.adventure-card {
  background-color: $blue-green;
  padding: 1rem;
  border-radius: 10px;
}

.card-text-wrapper {
  border-radius: 10px;
  background-color: $tan;
  margin-left: 1rem;
  width: 76%;
  p {
    margin-left: 1rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    @include sourceSans;
  }
}

.inner-card {
  display: flex;
  width: 100%;
}

.top-line-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.second-line-info {
  display: flex;
  margin: 0px;
}

span {
  @include sourceSansBold;
  font-weight: 600;
}

.top-line-text {
  display: flex;
}

.fa-btn {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

.fa-icon {
  margin-left: 0.5rem;
  &:hover {
    color: $red;
  }
}

.card-button-wrapper {
  margin-right: 1rem;
}
