@import '../../index.scss';

.adventure-img {
  width: 15rem;
  height: auto;
  object-fit: cover;
}

.adventure-card {
  background-color: $blue-green;
  padding: 1rem;
}

.inner-card{
  display: flex;
  background-color: $tan;
}