@import '../../index.scss';

.login-form {
  height: 100%;
  width: 100%;
  @include center;
  flex-direction: column;
  input {
    margin-bottom: 1rem;
    margin-right: 0px;
  }
  button{
    @include btn;
    font-size: 1.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    &:hover{
      background-color: $yellow
    }
  }
}

.form-wrapper {
  @include center;
  flex-direction: column;
  border: 1px solid $brown;
  padding: 2rem;
  p{
    @include amaticBold;
    font-size: 2rem;
  }
}
