@font-face {
  font-family: 'pepperoni';
  src: url('./Assets/Fonts/peperoni/Peperoni.ttf') format('woff');
}

@font-face {
  font-family: 'skinny';
  src: url('./Assets/Fonts/skinny_notfon1234/Skinny-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'boho';
  src: url('./Assets/Fonts/boho-lifestyle/BohoLifestyle/Boho-Lifestyle.ttf')
    format('woff');
}

@font-face {
  font-family: 'amatic';
  src: url('./Assets/Fonts/amatic/AmaticSC-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'amaticBold';
  src: url('./Assets/Fonts/amatic/Amatic-Bold.ttf') format('woff');
}

@font-face {
  font-family: 'sourceSans';
  src: url('./Assets/Fonts/source-sans-pro/SourceSansPro-Regular.otf')
    format('woff');
}

@font-face {
  font-family: 'sourceSansBold';
  src: url('./Assets/Fonts/source-sans-pro/SourceSansPro-Bold.otf')
    format('woff');
}

$blue-green: #73bda8;
$brown: #6f5643;
$tan: #fbf3e3;
$red: #cc6b49;
$yellow: #d2a24c;

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin btn {
  @include sourceSans;
  &:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px $brown;
    background-color: $yellow;
  }
}

@mixin pepperoni {
  font-family: 'pepperoni';
}

@mixin skinny {
  font-family: 'skinny';
}

@mixin boho {
  font-family: 'boho';
}

@mixin amatic {
  font-family: 'amatic';
}

@mixin amaticBold {
  font-family: 'amaticBold';
}

@mixin sourceSans {
  font-family: 'sourceSans';
}

@mixin sourceSansBold {
  font-family: 'sourceSansBold';
}

body {
  margin: 0;
  padding: 0;
}
