@font-face {
  font-family: 'pepperoni';
  src: url('./Assets/Fonts/peperoni/Peperoni.ttf')
    format('woff');
}

@font-face {
  font-family: 'skinny';
  src: url('./Assets/Fonts/skinny_notfon1234/Skinny-Regular.ttf')
    format('woff');
}

@font-face {
  font-family: 'boho';
  src: url('./Assets/Fonts/boho-lifestyle/BohoLifestyle/Boho-Lifestyle.ttf')
    format('woff');
}

$blue-green: #73bda8;
$brown: #6f5643;
$tan: #fbf3e3;
$red: #cc6b49;
$yellow: #d2a24c;

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin btn {
  &:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
}

@mixin pepperoni {
  font-family: 'pepperoni';
}

@mixin skinny {
  font-family: 'skinny';
}

@mixin boho {
  font-family: 'boho';
}

body {
  margin: 0;
  padding: 0;
}

